.headbar{color: white;
    font-size: 30px;
    background-color: teal;
    padding: 30px;
    margin-left: 120px;
}
.name{color: white;
    font-size: 30px;
    background-color: teal;
    padding: 30px;
    width: 150px;
}
.phead{color: orange;
    font-size: 24px;
}
#mbg{background-image: url(white-waves.png);
    text-align: center;
    width: 100%x;
}
.top{background-color: white;
    height: 90px;
    width: 100%;
    padding-right: 30px;
    border-bottom-color: black;
    border-bottom-width: 10px;
}
.mid{background-color: white;
    width: 900px;
    height: 700px;
    margin-left: 15%;
}
.buttons{font-size: 20px;
    color: gray;
    padding: 30px;
}
.buttons:hover{color:white;
background-color: teal;
}
.buttons:focus{color: blue;
background-color: white;
}
.buttons:active{color: red;
background-color: paleturquoise;
}
.buttons{float: right;
}
html, body{height: 100%;
}
body{ display: flex;
    flex-direction: column;
}
.content{flex: 1 0 auto;
}
.footer{flex-shrink: 0;
    height: 5%;
    background-color: gray;
}
.paragraph{text-align: center;
}
.img{border: 1px solid #ddd;
    border-radius: 4px;
    padding: 5px;
    width: 150px;
    margin: 25px;
  }